html, body, #root, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.graph-renderer {
    height: 100%;
    width: 100%;
    position: relative;
}

#abbreviations-modal {
  font-family: sans-serif;
  color: #555;
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24.5vmin;
  transform: translate(-50%, -50%) translateX(-6px) translateY(-6px);
  background: rgba(255, 255, 255, 1);
  z-index: 10;
  backdrop-filter: blur(4px);
  border-radius: 5%;
  padding: 0.3rem;
  box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.4),
              0 0 0 4px rgba(200, 200, 200, 0.3),
              0 0 0 6px rgba(200, 200, 200, 0.15);
}

.react-flow__node {
    pointer-events: none !important;
}

.rotatable-node {
    display: flex;
    box-shadow: none;
    background: white;
    justify-content: left;
    align-items: center;
    white-space: pre;
    pointer-events: auto;
}

.react-flow__handle {
    opacity: 0;
}

[data-id="bottom-midline"],
[data-id="top-midline"],
[data-id="vertical-midline"] {
  z-index: -1 !important;
}