html, body, #root, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.graph-renderer {
    height: 100%;
    width: 100%;
}

.react-flow__node {
    pointer-events: none !important;
}

.rotatable-node {
    display: flex;
    box-shadow: none;
    background: white;
    justify-content: left;
    align-items: center;
    white-space: pre;
    pointer-events: auto;
}

.react-flow__handle {
    opacity: 0;
}

[data-id="bottom-midline"],
[data-id="top-midline"],
[data-id="vertical-midline"] {
  z-index: -1 !important;
}